body {
  height: 100%;
  margin: 0;
  background-image: url(./Images/bg1.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  color: white; /* Default text color */
}

.App {
  text-align: center;
  height: 100vh;
  background-image: url(./Images/bg1.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1e3a8a; /* Dark blue */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb; /* Light blue */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

.flex-row {
  display: flex;
  gap: 5px;
  color: white;
}

.flex-row > * {
  flex: 1;
}

.wrapper {
  height: 100%;
  width: 100vw;
}

.card-wrapper {
  height: 90% !important;
  width: 80%;
  background-color: #3b82f6; /* Medium blue */
  border-radius: 100px !important;
  padding: 20px;
  color: white;
  overflow: hidden;
}

.card-text-wrapper {
  height: 100%;
  width: 100%;
}

.card-flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card-grid {
  display: grid;
  width: 660px !important;
  height: 450px !important;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
}

.input-text {
  width: 50% !important;
  color: #1e3a8a; /* Dark blue text */
}

.d-lenght-3 {
  width: 300px;
}

.input-group-text {
  width: 50%;
  color: #1e3a8a; /* Dark blue text */
}

.dashboard-container {
  height: 95vh;
  width: 100%;
  background-color: #e0ecff; /* Slightly darker blue */
  color: white;
}

.dashboard-container > .grid {
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.sidebar {
  border-radius: 0 0 100px 100px;
  height: fit-content;
  display: grid;
  grid-template-rows: auto 1fr;  
  background-color: #1e3a8a; /* Blue for sidebar */
  color: white;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 10px 0;
}

.viewport {
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.side-buttons {
  border-radius: 25px !important;
  background-color: #3b82f6; /* Medium blue */
  color: white;
  font-weight: bolder !important;
}

.dept-data {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

@keyframes expandButton {
  from {
    width: 200px;
  }
  to {
    width: 450px;
  }
}

@keyframes shrinkButton {
  from {
    width: 450px;
  }
  to {
    width: 200px;
  }
}

.side-buttons {
  min-width: 100px;
  margin: 5px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: #2563eb; /* Blue */
  color: white;
}

.side-buttons.active {
  animation: expandButton 0.3s ease-in-out forwards;
}

.side-buttons.previous-active {
  animation: shrinkButton 0.3s ease-in-out forwards;
}


.viewport-buttons {
  min-width: 200px;
  margin: 5px;
  display: flex;
  align-items: center;
  border-radius: 20px !important;
  padding: 10px;
  min-height: 45px;
  background-color: #3b82f6; /* Medium blue */
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-weight: bold !important;
}

.viewport-display {
  height: 80vh;
}

.height-card {
  height: 100% !important;
}



.login-container {
  height: calc(100vh - 50px);
  width: 100%;
  align-items: center;
  background-color: #1e40af; /* Slightly darker blue */
  color: white;
}

.login-card {
  height: 600px;
  width: 450px;
  color: white;
  padding: 20px;
  background-color: #71a5f8; /* Semi-transparent blue */
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 100px rgba(137, 182, 255, 0.5);
  overflow: hidden;
}

.login-form {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.input-group-text {
  width: 35% !important;
  color: #1e3a8a; /* Dark blue text */
}

.close-button {
  position: absolute;
  left: 400px;
  top: -11px;
  height: 60px;
  width: 60px;
  border-style: none;
  color: white;
  background-color: red;
  padding: 20px;
  padding-right: 28px;
  padding-bottom: 12px;
  border-bottom-left-radius: 20px;
}

.input-form {
  display: flex;
  height: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.flex-table {
  display: flex;
  flex-direction: row;
  
}

.flex-table >.custom-table {
  flex: 1;
  margin: 5px;
  
}

.radio-options {
  display: flex;
  justify-content: space-around;
  border: solid #1e3a8a; /* Dark blue */
  width: 240px;
  margin-bottom: 1.5rem;
  color: white;
}

.btn-space {
  margin-top: 1rem;
}

.navi-links {
  border: solid #1e3a8a; /* Dark blue */
  background-color: #1e3a8a; /* Dark blue */
  padding: 5px 20px;
  border-radius: 15px;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #1e3a8a; /* Dark blue */
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2563eb; /* Medium blue */
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content .dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}

.dropdown-content .dropdown-item:hover {
  background-color: #1e3a8a; /* Darker blue on hover */
}

.dropdown-content .dropdown-subcontent {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #3b82f6; /* Lighter blue */
  border-radius: 10px;
  padding: 10px;
}

.dropdown-content .dropdown-item:hover .dropdown-subcontent {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #61dafb; /* Light blue on hover */
}



.navbar-container {
  display: flex;
  align-items: center;
  background-color: #1e3a8a; /* Dark blue */
  height: 80px;
  padding: 0 px 20px;
  color: white;
}

.navbar-container .navi-links {
  display: flex;
  align-items: center;
}

.navbar-container .navi-links:first-child {
  margin-right: auto;
}

.navbar-container .navi-links:last-child {
  margin-left: auto;
}



.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.dropdown-header {
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1e90ff; /* DodgerBlue */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-container .navi-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}

.navbar-container .navi-links a:hover {
  color: #ADD8E6; /* Light blue color on hover */
}


.admin-team-logo {
  max-height: 120px;
  width: auto;
  height: 90px;
  position: absolute;
  top: -11px;
  left: 52px;
  
}

.banner-name {
  position: absolute;
  top: 15px;
  left: 155px
}

.pos-center {
  position: absolute;
  top: 25px;
  left: 35.7%;
}

/* CSS for native table customization with provided color palette */
.card-wrapper {
  margin: 20px;
  padding: 20px;
  background-color: #99CCFF; /* Light Blue */
  color: white;
  box-shadow: 0 0 15px rgba(32, 43, 61, 0.8);
}

.table-wrapper {
  overflow-x: auto;
}

.card-wrapper {
  margin: 20px;
  padding: 20px;
  background-color: #99CCFF; /* Light Blue */
  color: white;
}

.table-wrapper {
  overflow-x: auto;
  max-height: 400px; /* Adjust the max-height as needed */
  overflow-y: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  table-layout:auto;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  border: 3px solid #c6c7c8;
  color: white; /* Royal Blue for table content */
}

.custom-table th {
  background-color: #003366; /* Royal Blue */
  
}

.custom-table th,
.custom-table td {
  font-size: max(1.6rem, 3vh); /* At least h3 size */
  font-weight: bold;
  
}

.custom-table tbody tr:nth-of-type(odd) {
  background-color: #89affa; /* Baby Blue - Striped background color */
}

.custom-table tbody tr:hover {
  background-color: #0160c0; /* Navy Blue - Darker shade for hover */
}

.custom-table .table-active,
.custom-table .table-active > th,
.custom-table .table-active > td {
  background-color: #99CCFF; /* Light Blue - Active background color */
}



.custom-table-2 {
  width: 100%;
  border-collapse: collapse;
}

.custom-table-2 th,
.custom-table-2 td {
    padding: 8px;
    border: 3px solid #c6c7c8;
    color: white; /* Royal Blue for table content */
    font-size: 1.5rem; /* Set font size to a custom value, adjust as needed */
}

.custom-table-2 th {
  background-color: #003366; /* Royal Blue */
}

.custom-table-2 th,
.custom-table-2 td {
  font-weight: bold;
}

.custom-table-2 tbody tr:nth-of-type(odd) {
  background-color: #89affa; /* Baby Blue - Striped background color */
}

.custom-table-2 tbody tr:hover {
  background-color: #0160c0; /* Navy Blue - Darker shade for hover */
}

.custom-table-2 .table-active,
.custom-table-2 .table-active > th,
.custom-table-2 .table-active > td {
  background-color: #99CCFF; /* Light Blue - Active background color */
}


/* Add this to your CSS file */
.carousel-item-transition {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Apply the transition to the opacity property */
}

.carousel-item-transition.hide {
  opacity: 0; /* When hiding the item, set opacity to 0 */
}

/* Add this CSS to your stylesheet */
.dropdown.disabled .dropdown-header {
  color: gray;
  pointer-events: none;
}

.dropdown.disabled .dropdown-content {
  display: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #1e3a8a; /* Dark blue */
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2563eb; /* Medium blue */
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content .dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}

.dropdown-content .dropdown-item:hover {
  background-color: #1e3a8a; /* Darker blue on hover */
}

.dropdown-content .dropdown-subcontent {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #3b82f6; /* Lighter blue */
  border-radius: 10px;
  padding: 10px;
}

.dropdown-content .dropdown-item:hover .dropdown-subcontent {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@keyframes growDropdown {
  from { 
    max-height: 0; 
    opacity: 0; 
  }
  to { 
    max-height: 500px; /* Adjust this value as needed */
    opacity: 1; 
  }
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity .5s ease-in-out;
  animation: growDropdown .5s forwards;
}

.devs {
  position: absolute;
  top: 100px;
  right: 50px;
}

.dropdown-content .dropdown-item:hover .dropdown-subcontent {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  max-height: 500px; /* Adjust this value as needed */
  opacity: 1; /* Fully opaque when displayed */
}

/* Disabled dropdown styles */
.dropdown.disabled .dropdown-header {
  color: gray;
  pointer-events: none;
}

.dropdown.disabled .dropdown-content {
  display: none;
}



.flex-count{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.breakdown {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.manpower-wrapper {
  width: 700px;
  height: 100px;  
}